body {
    margin: 0;
    padding: 0;
    background: #FFFF;
}
nav{
    text-align: center;
 }
 .gray-box {
    width: 1200px;
    height: 80px;
    text-align:center;
    background-color: rgb(225, 219, 219);
    margin-top: 50px !important;
    margin:auto;
    color: black;
  }
  .gray-box p {
    margin: -50px 10px;
    margin-bottom: 10px;
  }
.container {
    width: 1200px;
    height: 100px;
    text-align: center;
    background-color: aquamarine;
    margin: 5px auto;
}
.content {
    width: 25%;
    display:flow-root !important;
    text-align: center;
    margin: 0px 30px ;
    float: left;
}
.get {
    margin: auto;
}
.copy {
    text-align: center;
}